.user-page-about {
  margin: 50px;
  justify-content: space-between;
  align-items: center;
  .MuiButton-outlined {
    border: 1px solid rgb(206, 206, 206);
  }
  .MuiButton-root {
    color: rgb(206, 206, 206);
  }
}
