.Modal {
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: #414141;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 70vh;
  padding-top: 10px;
  .publication-body {
    border: 1px solid #ff4e50;
  }
  &:focus {
    outline: none;
  }
  .publication-data {
    justify-content: flex-end;
  }

  .publication-comments {
    margin: 0;
  }

  .publication-header {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px 10px 0 0;
  }
}

.modal-comment-last {
  border-radius: 0 0 10px 10px;
}

.publication-modal {
  .publication-body {
    height: fit-content;
    border: none;
    p {
      border: 1px solid #ff4e50;
    }
  }
}
