.user-friends {
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  .list-friends {
    padding: 10px !important;
    flex-direction: row !important;
    ul {
      list-style: none;
      padding: 0 !important;
    }
  }
}

.friends-header {
  cursor: default;
  padding-left: 5px;
  background-color: rgba(145, 145, 145, 0.842);
}

.friend {
  width: fit-content;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  .friend-image {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-image: url(../../../../assets//images//default-user-image.png);
    background: cover no-repeat;
    background-size: 100% 100%;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.friends-bottom {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgba(145, 145, 145, 0.842);
  &-dot {
    margin: 5px;
  }
  &-dots {
    cursor: pointer;
    margin: 5px;
  }
}

.friend-nickname {
  text-align: center;
}

.friend-list-empty {
  cursor: default;
  width: 100%;
  font-family: Poppins;
  text-align: center;
}
