.user-friends {
  .list-friends {
    padding: 0 !important;
    background-color: #313131;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    border: 1px solid #ff4e50;
    height: 70vh;
    overflow: hidden;
  }
}

.friends-header {
  cursor: default;
  padding-left: 5px;
  background-color: #ff4e50;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(255, 255, 255, 0);
}

.friend {
  margin: 1px;
  height: fit-content;
  width: inherit;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  .friend-image {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-image: url(../../../../assets//images//default-user-image.png);
    background-size: 100% 100%;
  }
  &:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
}

.friends-bottom {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 0 0 10px 10px;
  &-dot {
    margin: 5px;
  }
  &-dots {
    cursor: pointer;
    margin: 5px;
  }
  transform: translate(0, -100%);
}

.friend-nickname {
  text-align: center;
}

.friend-list-empty {
  justify-content: center;
  align-items: center;
  cursor: default;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .friend-image {
    height: 50px !important;
    width: 50px !important;
  }
}

@media screen and (max-width: 992px) {
  .user-root {
    flex-direction: column-reverse;
  }
  .list-friends {
    justify-content: space-between;
    flex-direction: row !important;
    height: fit-content !important;
    border-radius: 0px !important;
    .list-friends-friend {
      flex: 0 0 auto;
      width: 33.333333% !important;
      height: fit-content;
    }
    .friend {
      width: 100%;
    }
  }
  .friends-bottom {
    transform: none;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 520px) {
  .list-friends {
    display: none !important;
  }
  .friends-bottom {
    display: none !important;
  }

  .friends-header {
    border: 1px solid #ff4e50;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
}
