.home-main {
  margin: 30px auto;
  background-color: #fff;
  padding: 30px;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 15px;
}

.user-nickname {
  font-size: 30px;
}

.user-data {
  padding: 10px 0;
  width: fit-content;
  ul {
    align-self: flex-start;
    padding: 0;
  }
}

.user-image {
  border: 1px solid rgba(0, 0, 0, 0.377);
  height: 250px;
  width: 250px;
  background-image: url(../../assets/images/default-user-image.png);
  background: cover no-repeat;
  background-size: 100% 100%;
}

.main-ul {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.user-publication {
  width: fit-content;
  margin: 10px 0;
}

.user-body {
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin: 2% 5%;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;
}

.user-create-publication {
  // margin-left: 25%;
  align-self: center;
  width: fit-content;
  width: 100%;
}
