.home-main {
  margin: 0 auto 30px;
  background-color: #414141;
  color: #fff;
  padding: 30px;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 15px;
  font-family: Poppins;
}

.user-nickname {
  font-size: 30px;
  margin-left: 10px;
}

.user-about {
  margin: 50px;
  justify-content: space-between;
  align-items: flex-end;
  .MuiButton-outlined {
    border: 1px solid rgb(206, 206, 206);
  }
  .MuiButton-root {
    color: rgb(206, 206, 206);
  }
}

.user-data {
  width: 100%;
}

.user-image {
  border: 2px solid #eeeeee;
  height: 150px;
  width: 150px;
  background-image: url(../../assets/images/default-user-image.png);
  background-size: 100% 100%;
}

.user-publication {
  margin-top: 10px;
}

.user-body {
  margin: 0 50px;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.user-create-publication {
  align-self: center;
  width: fit-content;
  width: 100%;
}

.user-publications-empty {
  padding: 15%;
  align-self: center;
  font-size: 25px;
}
