$margin-right-f-req-todo: 10%;
.friend-req-img {
  border: 1px solid rgb(126, 126, 126);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-image: url(../../../../../assets/images/default-user-image.png);
  background: cover no-repeat;
  background-size: 100% 100%;
}

.friend-req-drop-user {
  padding: 2% 3%;
  justify-content: space-between;
  text-decoration: none;
  // display: block;
}

.friend-req-drop {
  color: #4e4e4e;
  margin-top: 1%;
  border-radius: 10px;
  padding: 5px;
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  border: 1px solid #4e4e4e;
  z-index: 1;
}

.f-req-todo-accept {
  margin-right: $margin-right-f-req-todo;
  font-size: 15px;
  &:hover {
    color: rgb(133, 216, 95);
    transition: 0.3s;
  }
}

.f-req-todo-decline {
  margin-right: -$margin-right-f-req-todo;
  font-size: 15px;
  &:hover {
    color: rgb(214, 91, 91);
    transition: 0.3s;
  }
}

.f-req-todo {
  align-items: center;
}

.friend-req-empty-list {
  height: 40px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
