.publication-avatar {
  margin: 1px 2px;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 50%;
  background-image: url(../../../../assets/images/default-user-image.png);
  background-size: 100% 100%;
}

.publication-header {
  font-family: Poppins;
  background-color: #ff4e50;
  border-bottom: none;
  max-height: fit-content;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  p {
    margin: 0;
  }
}

.publication-name {
  cursor: default;
  margin: 1%;
  align-self: center;
}

.publication-single {
  border-radius: 10px;
}

.publication-first {
  border-radius: 10px 10px 0 0;
}

.publication-last {
  border-radius: 0 0 10px 10px;
}

.publication {
  width: 100%;
  border-radius: inherit;
}

.publication-main {
  width: inherit;
  border: 2px solid #ff4e50;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #dcdcdc;
}

.publication-data {
  cursor: default;
  justify-content: flex-end;
  padding: 10px;
}

.publication-body {
  font-family: Poppins;
  cursor: default;
  color: #525252;
  background-color: #dcdcdc;
  p {
    word-wrap: break-word;
    padding: 1%;
  }
}

.publication-evaluation {
  align-items: center;
  font-size: 20px;
  justify-content: flex-end;
  height: 30px;
}

.publication-likes {
  cursor: pointer;
  margin: 1%;
  color: #525252;
  .like {
    margin-right: 10%;
  }
  &:hover {
    color: #e94651c0 !important;
    transition: 0.3s;
  }
}

.publication-comments {
  flex-direction: column;
}

.publication-comments {
  cursor: pointer;
  margin: 1%;
  flex-direction: row;
  color: #525252;
  .comments {
    margin: 0 10% 0 0 !important;
  }
  &:hover {
    color: #525252b4;
    transition: 0.3s;
  }
}
