.create-publication {
  flex-direction: column;
  width: 100%;
  font-family: Poppins;
}

.create-publication-bottom {
  margin: 1%;
  cursor: text;
  align-items: center;
  justify-content: center;
}

.create-publication-header {
  background-color: #dcdcdc;
  color: #525252;
  width: 100%;
  cursor: default;
  padding-left: 5px;
  justify-content: center;
  border: 2px solid #e84a5f;
  border-bottom: none;
  margin-bottom: -1px;
  border-radius: 10px 10px 0 0;
  h4 {
    margin: 0;
  }
}

.create-publication-textarea {
  width: 100%;
  border: none;
  color: #525252;
  background-color: #dcdcdc;
  // border: 1px solid #e84a5f;
}

.create-publication-button {
  background-color: #414141 !important;
  color: #eff1f4 !important;
}

.create-publication-empty-field {
  border: 2px solid #e84a5f;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
}
