.addComment-textarea {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  textarea {
    background-color: #eff1f4;
  }
}

.addComment {
  background-color: #eff1f4;
  font-family: Poppins;
  margin-top: 2%;
  // flex-direction: column;
  align-items: flex-end;
  border: 2px solid #ff4e5100;
  cursor: default;
}

.addComment-bottom {
  margin: 1%;
  align-self: center;
  .MuiButton-containedPrimary {
    background-color: #2a363b !important;
  }
}
