.comment {
  margin-top: 5px;
  min-width: 80%;
  flex-direction: column;
  min-width: 80%;
  cursor: default;
  color: #525252;
  border-radius: inherit;
}

.comment-user-avatar {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 50%;
  background-image: url(../../../../../../assets/images/default-user-image.png);
  background-size: 100% 100%;
}

.comment-header {
  padding: 0 1%;
  align-items: center;
  background-color: #ffd369;
  font-family: Poppins;
}

.comment-date-main {
  justify-content: flex-end;
}

.comment-body {
  word-wrap: break-word;
  padding: 0 1%;
  border: 1px solid #ffd369;
  border-radius: inherit;
  background-color: #eff1f4;
  white-space: pre-wrap;
}

.comment-user-name {
  cursor: pointer;
  padding: 0 1%;
  &:hover {
    text-decoration: underline;
  }
}
